@import "compass/css3";
@import "compass/reset";

$text: #8c8c8c;
$title: #55545c;  
$blue: #249ed7;

body{
	background: url("img/background.png"), url("img/gradient.png") repeat-x;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: $text;
}

/* ---------------------- */
/*  ==   Typographie      */
/* ---------------------- */ 
p,ul,blockquote{ margin-bottom: 1.5em; }
a{ color: $blue; text-decoration: none; }
a:hover{ text-decoration: underline; }
h1,h2,h3,h4,h5,h6{ margin-bottom: 24px; color: $title; font-family: "PT Sans", Arial, Helvetica, sans-serif;}
h1{ font-size: 1.5em;}
h2{ font-size: 1.325em;}
h3{ font-size: 1.25em;}
h4{ font-size: 1.125em;}
h5,h6{ font-size: 1em;}

ul, ol{ margin-left: 20px; }
ul{ list-style: square inside; overflow: hidden;}
ul ul, ol ul{ margin-bottom: 0; }
ol{ list-style: decimal inside; overflow: hidden;}
ol ol, ul ol{ list-style: upper-roman; }

strong{ color: $title; font-weight: bold}

blockquote{
	margin: 0 60px 0 45px;
	border-left: 5px solid $blue;
	padding-left: 15px;
	font-style: italic;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	overflow: hidden;
	margin-bottom: 1.5em;
}

blockquote p{ margin-bottom: 0;}

blockquote em{
	display: block;
	text-align: right;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-style:normal;
}

blockquote em:before{
	content:'—';
}

img.alignleft{
	float: left; margin-right: 20px;
}

img.aligncenter{
	display: block; margin: 0 auto;
}

img.alignright{
	float: right; margin-left: 20px;
}

/* ---------------------- */
/*  ==   Header           */
/* ---------------------- */ 
#header{
	width: 100%;
	height: 70px;
	border-bottom: 3px solid rgba(155, 158, 163, 0.5);

	p{
		line-height: 70px;
		font-size: 14px;
	}
}

/* ---------------------- */
/*  ==   Content          */
/* ---------------------- */ 


/* =! Top */
#top{
	background: url('img/top-background.png');
	border-bottom: 1px solid #919191;
	.wrap{ 
		@include single-box-shadow(#555, 0px, 1px, 12px); 
	}

	img{
		display: block;
		margin: 0 auto;
		padding-top: 10px;
	}
}

/* =! Projects */
#content{ 
	width: 960px; 
	margin: 0 auto;

	.project{
		float: left;
		margin: 5px;

		a{
			text-align: center;
			color: $text;
			&:hover{text-decoration: none;}
		}

		.info{
			display: none;
		}

		&.unfold{
			height: 320px;
			width: 630px;
		}

		&.unfold .info{
			display: block;
		}

		&.unfold .thumb{
			display: none;
		}
	}
}
